 <div class="row-fluid"> <!--Brand and shop cart -->
  
  	<div class="span8">
  		<h1 class="heading"><%=t("brand")%></h1>
    </div>
    
    <div class="span3 cart ">
      <%=link_to('#') do%>
      <span><%=image_tag('red_shop_bag.png')%></span>
      <%end%>
    </div>
  
  </div>

   <!-- Flash messages --> 
  
  <div class="row-fluid">
  	<div class="span12">
    	<%=render :partial=>'shared/flash_messages'%>
    </div>
  </div>
  <br />
  <br />
  
  <!--Navbar & search filed -->
  <div class="row-fluid">
  	<div class="span9 main_navbar_container">
    	<%=render 'layouts/main_navbar'%>      
        <hr class="gray_line"/>
    </div> 
    
    <div class="span3">
    	<form class="form-search">
      		<input type="text" class="input-medium search-query" placeholder="Search in the shop...">
			<%=image_tag 'Search-icon.png'%>
        </form>
    </div>
    
 </div> <!-- Navbar & search field -->		
 