<%=form_for [:admin,@product] do |f| %>
  
  <div class="section-header">
    <%=t("admin.products.new.section_header")%>
  </div>
  
  <br />      
  
  <div>
    <%=f.label(:title,t("admin.products.new.title"))%>
    <span><%="( #{ t('admin.products.new.examples')} )"%></span>  
  </div>  
       
 
  <div>
    <%=f.text_field :title%>
  </div>

   <br />

   <div>
    <%=f.label(:description,t("admin.products.new.description"))%>
    <span><%="( #{ t('admin.products.new.suggest')} )"%></span> 
  </div>  
       
 
  <div>
    <%=f.text_area :description%>
  </div>

  <div>
    <%=f.label(:price,t("admin.products.new.price"))%> 
  </div>  
       
 
  <div>
    <%=f.text_field :price, value:0.00, class:'price'%>
  </div>
 
  <div class="metalic">
  	<%=f.submit t("admin.products.new.submit"),:class=>"btn btn-primary"%>
  </div>   

<%end%> 