<div class="row-fluid">
	
	<div class="span12">
	
    	<ul class="nav nav-pills">
    		<li class="active"><%=link_to "Home",admin_root_path%></li>
    		<li><%=link_to "Orders",'#'%></li>
    		<li><%=link_to "Products",admin_products_path%></li>
    		<li><%=link_to "Collections",'#'%></li>
    		<li><%=link_to "Navigation",'#'%></li>
    		<li><%=link_to "Promotions",'#'%></li>
   		</ul>
	
	   
	 </div>

</div>