<div class="row-fluid">
	<div class="span12">   
      <blockquote>
      	<ul class="unstyled">
       		<li><%=link_to t("search"),'#'%></li>
        	<li><%=link_to t("about"),'#'%></li>
     	 </ul>
     	 <small>&copy; 2012 <%=link_to t("brand"),'#'%> All Rights Reserved.</small>
       </blockquote>
    </div>    	 

</div>
<hr />
<div class="row-fluid">

  <div class="span12 centered">
  
    <p><%=t("payment")%></p> 
    <%=image_tag("am_ex.png")%>
    <%=image_tag("discover.png")%>
    <%=image_tag("visa.png")%>
    <%=image_tag("mastercard.png")%>
    <%=image_tag("maestro.png")%>
    <%=image_tag("cirrus.png")%>
    <%=image_tag("paypal.png")%>
    <%=image_tag("google.png")%>
  </div>

</div>
